<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <style>
        body {
            background-color: #f8f8f8;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }

        h1 {
            color: #e74c3c;
            font-size: 32px;
            margin-bottom: 20px;
        }

        p {
            color: #555555;
            font-size: 18px;
        }

        a {
            color: #2980b9;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Error</h1>
    <p>{{ error_message }}</p>
    <p>Click <a href="/shorten">here</a> to try again.</p>
</body>
</html>