
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #63cdda;
            margin: 0;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        .container {
            max-width: 600px;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        .hero-section {
            text-align: center;
            margin-bottom: 30px;
        }

        .hero-section h2 {
            font-size: 24px;
            margin-bottom: 10px;
            color: blue;
        }

        .hero-section p {
            font-size: 16px;
            color: #888;
            margin-bottom: 20px;
        }

        .cta-button {
            margin-top: 20px;
        }

        .login-register {
            text-align: center;
            margin-bottom: 20px;
        }

        .login-register a {
            margin: 0 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="hero-section">
            <h2>Welcome to URL Shortener!</h2>
            <p>Login or Register to get started.</p>
            <a class="btn btn-primary cta-button" href="{{ url_for('register') }}">Register</a>
            <a class="btn btn-primary cta-button" href="{{ url_for('login') }}">Login</a>
        </div>
    </div>
</body>
</html>