<!DOCTYPE html>
<html>
<head>
    <!-- Your head content here -->
</head>
<body>
    <div class="container">
        <h2>Logout</h2>
        <a href="{{ url_for('index') }}">Back to Home</a>
    </div>
</body>
</html>