<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    .background {
      background-color: #63cdda;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .register-heading {
      color: blue; /* Change this color to your desired color */
    }
    #register-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .register-box {
      width: 400px;
      padding: 40px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      text-align: center;
    }

    label {
      display: block;
      margin-bottom: 10px;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    input[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    p {
      text-align: center;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <div class="background"></div>
  <div id="register-container">
    <div class="register-box">
      <h2 class="register-heading">Registration</h2>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flash-messages">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <form method="POST" action="{{ url_for('register') }}">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br>
        <input type="submit" value="Register">
      </form>
      <p>Already registered? <a href="{{ url_for('login') }}">Login here</a></p>
    </div>
  </div>
</body>
</html>