<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #63cdda;
            margin: 0;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        .container {
            max-width: 600px;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .shorten-form {
            margin-bottom: 30px;
        }

        .shorten-form label {
            font-weight: bold;
        }

        .shorten-form .form-control {
            margin-top: 10px;
        }

        .shorten-form .alert {
            margin-top: 20px;
        }

        .cta-button {
            margin-top: 20px;
        }

        .logout-button {
            margin-top: 20px;
            display: flex;
            align-items: center;
        }

        .logout-button button {
            margin-left: 10px;
            width: 100%;
        }

        .shorten-button {
            margin-right: 10px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <h1>Shorten your URLs</h1>
        <div class="row">
            <div class="col-6">
                <form class="shorten-form" method="POST" action="{{ url_for('shorten') }}">
                    <div class="form-group">
                        <label for="long_url">Enter a URL to shorten:</label>
                        <input type="text" class="form-control" id="long_url" name="long_url" placeholder="https://example.com">
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Shorten</button>
                        <button type="submit" formaction="{{ url_for('logout') }}" class="btn btn-primary">Logout</button>
                    </div>
                    {% if shortened_url %}
                        <div class="alert alert-success mt-4">
                            <strong>Shortened URL:</strong>
                            <input type="text" class="form-control" value="{{ shortened_url }}" readonly>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</body>
</html>