<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener - Shortened URL</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #63cdda;
            margin: 0;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        .container {
            max-width: 400px;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        .shortened-url {
            margin-bottom: 20px;
        }

        .shortened-url label {
            display: block;
            font-weight: bold;
            margin-bottom: 10px;
            color: #555;
        }

        .shortened-url input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 14px;
        }

        .shortened-url .copy-container {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

        .shortened-url .copy-url {
            flex-grow: 1;
        }

        .shortened-url .copy-button {
            margin-left: 10px;
            padding: 10px 20px;
            background-color: #2980b9;
            color: #fff;
            border: none;
            border-radius: 3px;
            text-decoration: none;
            font-size: 14px;
            cursor: pointer;
        }

        .shortened-url .copy-button:hover {
            background-color: #1c6373;
        }

        .back-btn {
            text-align: center;
        }

        .back-btn a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 3px;
            text-decoration: none;
            font-size: 14px;
        }

        .back-btn a:hover {
            background-color: #45a049;
        }
    </style>
    <script>
        function copyToClipboard() {
            var shortenedUrl = document.getElementById("shortened_url");
            shortenedUrl.select();
            document.execCommand("copy");
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>URL Shortener - Shortened URL</h1>
        <div class="shortened-url">
            <label for="shortened_url">Shortened URL:</label>
            <div class="copy-container">
                <input type="text" id="shortened_url" value="{{ shortened_url }}" readonly class="copy-url">
                <button class="copy-button" onclick="copyToClipboard()">Copy</button>
            </div>
        </div>
        <div class="back-btn">
            <a href="{{ url_for('shorten') }}">Go back</a>
        </div>
    </div>
</body>
</html>